.menu-nav {
    background-color:#505050;
    position: fixed;
    height: 100%;
    width: 400px;
    bottom: 0px;
    left:0px;
    margin: 0;
    padding: 0;


}


.foto-perfil {
    position:relative;
    border-style: solid;
    border-color: white;
    height: 150px;
    width: 150px;
    border-radius: 500px;
    left: 120px;
    top: 110px;
    
    
}

.foto-perfil {
        font-size: 8em;
        filter: grayscale(100%);
        transition: filter 450ms ease;
      }
      
      .foto-perfil:is(:hover, :focus) {
        filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
      }

.home{
    position: fixed;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 20px;
    opacity: 0.6;   
}

.home:hover{
    opacity: 1;
}


   

#sobre{
    color:white;
    position: relative;
    font-weight: bold;
    font-size: 40px;
    left: 152px;
    
}

#conhecimentos{
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    left: 135px;
    text-decoration: none;
}

#conhecimentos:hover{
    opacity: 0.5;
}

#objetivos{
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    left: 155px;
    text-decoration: none;
}

#objetivos:hover{
    opacity: 0.5;
}

.titulos {
    position:relative;
    top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#nome{
    color:#505050;
    position: fixed;
    font-size: 100px;
    top: 60px;
    left: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#sobrenome{
    color: #2C2C2C;	
    position: fixed;
    font-size: 100px;
    top: 60px;
    left: 820px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#rua{
    color: #2C2C2C;	
    position: fixed;
    font-size: 20px;
    top: 260px;
    left: 455px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#email{
    color: #2C2C2C;	
    position: fixed;
    font-size: 20px;
    top: 260px;
    left: 950px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.descricao{
    position: fixed;
    color: #717D7E;
    font-size: 15px;
    top: 350px;
    left: 455px;

}

#insta-logo{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 500px;
    left: 455px;
    opacity: 0.6;
}
#insta-logo:hover{
    opacity: 1;
}

#git-logo{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 500px;
    left: 520px;
    opacity: 0.6;
}
#git-logo:hover{
    opacity: 1;
}
#linkedin-logo{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 500px;
    left: 585px;
    opacity: 0.6;
}
#linkedin-logo:hover{
    opacity: 1;
}

.conhecimentos{
    color:#717D7E;
    position: fixed;
    left: 450px;
    font-size: 30px;
    top:75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bloco3{
    color:#717D7E;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left:450px;
    top:200px;
    font-size: 20px;
}